.u-section-1 .u-sheet-1 {
  min-height: 176px;
}

.u-section-1 .u-shape-1 {
  height: 175px;
  margin: 1px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1084px;
  margin: -160px auto 14px 28px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-shape-1 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -261px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 414px;
}

.u-section-2 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-2 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 56px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 223px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: currentcolor !important;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 30px;
  margin: 20px 5px 0 121px;
}

.u-section-2 .u-text-4 {
  margin: -30px 181px 0 20px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 30px;
  margin: 20px 5px 0 121px;
}

.u-section-2 .u-text-6 {
  margin: -30px 181px 0 20px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-3 {
  min-height: 30px;
  margin: 20px 5px 0 121px;
}

.u-section-2 .u-text-8 {
  margin: -30px 181px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 47px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 224px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: 30px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 136px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    margin-right: 30px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 136px;
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-custom-html-3 {
    height: auto;
    margin-right: 30px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 136px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 54px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 35px;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 35px;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-custom-html-3 {
    min-height: 35px;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 199px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 30px;
    margin-top: 10px;
    margin-left: 133px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 133px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 30px;
    margin-top: 10px;
    margin-left: 133px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 133px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-custom-html-3 {
    min-height: 30px;
    margin-top: 10px;
    margin-left: 133px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 548px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 6px;
    margin-right: 14px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -36px;
    margin-right: 184px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-custom-html-2 {
    margin-top: 6px;
    margin-right: 14px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -36px;
    margin-right: 184px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 6px;
    margin-right: 14px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -36px;
    margin-right: 184px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 414px;
}

.u-section-3 .u-text-1 {
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 56px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 223px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-3 .u-list-item-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 55px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 216px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 195px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 19px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    width: 199px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 19px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    width: 199px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-text-4 {
    width: 156px;
    margin-top: 11px;
    margin-bottom: -19px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 31px;
  }

  .u-section-3 .u-text-6 {
    width: 156px;
    margin-top: 11px;
    margin-bottom: -19px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-4 .u-table-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-block-f5f1-78 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-4 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-4 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.375em;
}

.u-section-4 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  font-size: 2.375em;
}

.u-section-4 .u-icon-3 {
  font-size: 1.2em;
}

.u-section-4 .u-icon-4 {
  font-size: 1.2em;
}

.u-section-4 .u-icon-5 {
  font-size: 2em;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-block-f5f1-35 {
  background-image: none;
}

.u-section-4 .u-custom-html-1 {
  min-height: 30px;
  margin: -111px 876px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-right: 676px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-custom-html-1 {
    margin-right: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 76px;
  }
}.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}